@charset "utf-8";
/*====================== 初始化 ====================*/
html,body{min-height:100%;min-width: 1200px; overflow-x: hidden;}
#app{width:100%;height:100%;}
body { font-size:14px;font-family:PingFangSC-Regular,Microsoft YaHei,sans-serif; background-color:#1f1e24; box-sizing: border-box;}
body,div,ul,ol,li,p,span,i,strong,a,em,dl,dt,dd,h1,h2,h3,h4,tr,td,th{margin:0;padding:0;border:0;}
em,i{ font-style:normal;}
ul,ol{ list-style:none;}
table { border-collapse:collapse; border-spacing:0;}
a{ text-decoration:none;}
input,button,select,textarea{outline:none; border:none;box-shadow:none;}
input[type='number']::-webkit-outer-spin-button,input[type='number']::-webkit-inner-spin-button {appearance:none!important;margin: 0;}
input[type='number']{-moz-appearance:textfield!important;}
select{appearance:none;background: url(../images/arrow-down.png) no-repeat scroll right center transparent;background-size:12px;padding-right:12px;}
option{background-color:#CCC;color:#333;}

.f-fl, .pull-left{float: left}
.f-fr, .pull-right{float: right}
.clearfix:before,
.clearfix:after{content: "";display: block;}
.clearfix:after{clear: both;}
.clearfix{*zoom: 1;}
.height100{height: 100vh;}
input[type='text'],input[type='number'],input[type='password']{padding:0 4px;}
input[type='text']:focus,input[type='number']:focus,input[type='password']:focus,textarea:focus,input[type='search']:focus{border-color:#00A0E9!important;}
/* 向上的箭头 */
.arrow-top{border-width:10px;border-color:#182138;border-top-width:0;border-style:dashed;border-bottom-style:solid;border-left-color: transparent;border-right-color:transparent;}
div.hopscotch-bubble{background-color:#404b69;border-color:#6d7da4;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow{border-right-color:#404b69;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow{border-bottom-color:#404b69;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow{border-left-color:#404b69;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow{border-top-color:#404b69;}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border{border-right-color:#6d7da4;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border{border-bottom-color:#6d7da4;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border{border-left-color:#6d7da4;}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border{border-top-color:#6d7da4;}

div.hopscotch-bubble h3,div.hopscotch-bubble .hopscotch-content{color:#aeb7d0;}


.v-tip-container{color:#fff;background:#3283FF;border-color:#3283FF;box-shadow:none;-webkit-box-shadow:none;padding:4px 8px;}
.v-tip-container .v-tip-arrows[class*=' top-']::after, .v-tip-container .v-tip-arrows[class^=top-]::after{border-top:#3283FF;}
.v-tip-container .v-tip-content{line-height:inherit;}
.icon-paypal {color: #2a74d3;}
.icon-alipay {color: #1cc5e4;}
.icon-wechat {color: #69c03e;}
.icon-bank {color: #0D66EF;}

.table {display: table; width: 100%; text-align: center;}
.table > div {display: table-row; line-height: 50px;}
.table > div > div {display: table-cell; vertical-align: middle;}
.table > div > div img {vertical-align: middle;}
.table.border {border-top: 1px solid #ccc; border-left: 1px solid #ccc;}
.table.border > div > div {border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
@media screen and (min-width: 1660px){
	.w1200 {padding-left: 210px; padding-right: 210px;}
}
@media screen and (max-width: 1659px){
	.w1200 {width: 1200px; margin-left: auto; margin-right: auto;}
}
.container {
	background: url(../img/bg_common.png) no-repeat 50%;
	color: #f1f1f2;
	min-height: -webkit-calc(100vh - 365px);
	min-height: calc(100vh - 365px);
}
.ui-flex {display: flex;}
.ui-flex-justify {justify-content: space-between;}
.ui-flex-center {justify-content:center;}
.ui-flex-column {flex-direction: column;}
.ui-flex-1 {flex: 1; min-width: 0;}
.ui-flex-2 {flex: 2; min-width: 0;}
.ui-flex-3 {flex: 3; min-width: 0;}
.ellipsis {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ellipsis-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}
.mask-layer {position: fixed; left: 0; top: 70px; right: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 9999999;}


@font-face {
	font-family:'ethnocentric';
	src: url('./fonts/ethnocentric rg.ttf') format('truetype');
}
.inline {display: inline-block; vertical-align: middle;}
.efont{font-family: ethnocentric,PingFangSC-Regular,Microsoft YaHei,sans-serif;}
.rang-down {color: #f1304a;}
.rang-up {color: #1bc863;}

.rp {position: relative;}
.ap {position: absolute;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.lh15 {line-height: 1.5em;}
.pointer {cursor: pointer;}

.f-c-gray {color: #666;}
.f-c-danger {color: #FF3E04;}
.f-c-main {color: #00a0e9;}
.f-c-white {color: #fff;}
.f-c-green {color: #01DD5A;}
.f-c-orange {color: #c5733d; }

.fs10 { font-size:10px;}
.fs12 { font-size:12px; }
.fs13 { font-size:13px; }
.fs14 { font-size:14px; }
.fs16 { font-size:16px; }
.fs18 { font-size:18px; }
.fs20 { font-size:20px; }
.fs24 { font-size:24px; }
.fs26 { font-size:26px; }
.fs28 { font-size:28px; }
.fs30 { font-size:30px; }
.fs32 { font-size:32px; }
.fs34 { font-size:34px; }
.fs36 { font-size:36px; }
.fs38 { font-size:38px; }
.fs40 { font-size:40px; }
.fs50 { font-size:50px; }
.fs60 { font-size:60px; }


.mt5 {margin-top:5px;}
.mt8 {margin-top:8px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}
.mt110 {margin-top:110px;}
.mt120 {margin-top:120px;}


.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr40 {margin-right:40px;}
.mr45 {margin-right:45px;}
.mr50 {margin-right:50px;}
.mr60 {margin-right:60px;}
.mr70 {margin-right:70px;}
.mr80 {margin-right:80px;}
.mr90 {margin-right:90px;}
.mr100 {margin-right:100px;}
.mr110 {margin-right:110px;}
.mr120 {margin-right:120px;}


.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml40 {margin-left:40px;}
.ml45 {margin-left:45px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}
.ml70 {margin-left:70px;}
.ml80 {margin-left:80px;}
.ml90 {margin-left:90px;}
.ml100 {margin-left:100px;}
.ml110 {margin-left:110px;}
.ml120 {margin-left:120px;}


.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}
.mb90 {margin-bottom:90px;}
.mb100 {margin-bottom:100px;}
.mb110 {margin-bottom:110px;}
.mb120 {margin-bottom:120px;}

.pr50 {padding-right: 50px;}


.mint-btn {
  border: none;
  outline: 0;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}
.mint-btn:after {
  background-color: #000;
  content: " ";
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.mint-btn:active:after {
  opacity: .3;
}
.mint-btn.round {
	border-radius: 36px;
}
.mint-btn.default {
  box-shadow: 0 0 1px #b8bbbf;
}
.mint-btn.primary {
  color: #fff;
  background-color: #00a0e9;
}
.mint-btn.success {
  color: #fff;
  background-color: #00A55E;
}
.mint-btn.danger {
  color: #fff;
  background-color: #E44242;
}
.mint-btn.warning {
  color: #fff;
  background-color: #DDC754;
}
.mint-btn.disabled {
  color: #999;
  background-color: #ddd;
}
.mint-btn[disabled] {
  opacity: 0.6;
}
.mint-btn.small {
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  font-size: 12px;
}
.mint-btn.middle {
  height: 28px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 3px;
  font-size: 14px;
}
.mint-btn.middle.round {
	border-radius: 28px;
}
.mint-btn.small.round {
	border-radius: 25px;
}
