@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1grrlu');
  src:  url('fonts/icomoon.eot?1grrlu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1grrlu') format('truetype'),
    url('fonts/icomoon.woff?1grrlu') format('woff'),
    url('fonts/icomoon.svg?1grrlu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new-message:before {
  content: "\e903";
}
.icon-shield:before {
  content: "\e900";
}
.icon-shop:before {
  content: "\e901";
}
.icon-alipay:before {
  content: "\e902";
}
.icon-bank:before {
  content: "\e90f";
}
.icon-checkbox-checked:before {
  content: "\e913";
}
.icon-checkbox-unchecked:before {
  content: "\e914";
}
.icon-wechat:before {
  content: "\e957";
}
.icon-two-way:before {
  content: "\e954";
}
